<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">CNC Data Simulator</a>
</nav>

<div class="container" style="margin-top:60px">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateDevices"
                       aria-expanded="true" aria-controls="collapseCreateDevices">Create CNCs</a>
                </h4>
            </div>
            <div id="collapseCreateDevices" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>How many devices would you like to use? Maximim is 20.</p>

                    <form id="createDevices" style="overflow:hidden">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">CNC 1</div>
                                <input type="text" class="form-control createDevice"
                                       placeholder="CNC Name (No spaces)">
                                <div class="input-group-addon removeDevice">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>

                            <label class="btn btn-default btn-file" style="margin-top:10px">
                                <span class="deviceImageLabel">Select Picture</span>
                                <input type="file" class="deviceImage" style="display: none;">
                            </label>
                        </div>
                    </form>

                    <button class="btn btn-primary btn-block" style="margin-top:10px" id="submitDevices">Done!</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseAddAttributes" aria-expanded="false" aria-controls="collapseAddAttributes">
                        What data has to be emitted?
                    </a>
                </h4>
            </div>
            <div id="collapseAddAttributes" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body addAttributes">
                    <p>Add the attributes every CNC has to emit.</p>

                </div>
                <button class="btn btn-primary btn-block" id="submitAttributes" style="margin:10px;width:97%">Done!
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseDataValues" aria-expanded="false" aria-controls="collapseDataValues">
                        Data Types
                    </a>
                </h4>
            </div>
            <div id="collapseDataValues" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body addDataValues">
                    <p>Select the type and range/categories for the different attributes.</p>

                </div>
                <button class="btn btn-primary btn-block" id="submitDataValues" style="margin:10px;width:97%">Done!
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseControlPanel" aria-expanded="false" aria-controls="collapseControlPanel">
                        Live Control Panel
                    </a>
                </h4>
            </div>
            <div id="collapseControlPanel" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body controlPanel">
                    <p>Control the values that are being streamed.</p>

                    <div id="photoBanner">
                        <div id="photos" style="display:flex;justify-content:center"></div>
                    </div>

                    <div id="controlNumberValues"></div>
                    <div id="controlStringValues"></div>
                    <div id="controlBooleanValues"></div>

                    <div class="row" style="margin-top:25px">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block" id="startStream">Start Stream!</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block" id="stopStream">Stop Stream!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
